@font-face {
  font-family: "iconfont"; /* Project id 3360381 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1650959805209') format('woff2'),
       url('iconfont.woff?t=1650959805209') format('woff'),
       url('iconfont.ttf?t=1650959805209') format('truetype');
}

.iconfont ,[class^="icon"],[class*=" icon"]{
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xitongquanxian:before {
  content: "\e61d";
}

.icon-duzheguanli:before {
  content: "\e61f";
}

.icon-wenxianliutong:before {
  content: "\e620";
}

.icon-piciguanli:before {
  content: "\e623";
}

.icon-guanjum:before {
  content: "\e7a9";
}

.icon-tuichu:before {
  content: "\e62e";
}

